<app-header></app-header>

<div  *ngIf="allWishlists.length==0" class="d-flex justify-content-center align-items-center mt-5 flex-column">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRE3rp0Zb7azSnT1_wayocfCE5LaDhuYFkpQ&usqp=CAU" alt="">
    <h4>Your wishlist is empty</h4>
</div>
<div *ngIf="allWishlists.length>0" class="d-flex justify-content-center align-items-center flex-column" >
    <h4>Your Wislists</h4>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" >
            <div class="col mb-5" *ngFor="let product of allWishlists">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" [src]=product.image alt="..." height="250px" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title}}</h5>
                            <!-- Product price-->
                            {{product.price}}
                           
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="d-flex justify-content-between m-3">
<a class="btn btn-outline-danger"  (click)="removeItem(product._id)"><i class="fa-solid fa-trash" ></i></a>
<a class="btn btn-outline-success" (click)="addToCart(product)" ><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
          
        </div>
    </div>

</div>